DATABASE_URL=jdbc:postgresql://localhost:5434/account_db
DATABASE_USERNAME=account_user
DATABASE_PASSWORD=account_pass
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
CUSTOMER_SERVICE_URL=http://localhost:8001
